.titan-container {
    height: 20vh;
    width: 100%;
}

p {
    font-family: Volkhov, sans-serif;
}

.titan {
    float: right;
    position: relative;
    z-index: -1;
    height: auto;
    width: 50%;
    top: 0;
}

@keyframes hide-titan {
    to {
        opacity: 0;
        top: 85px
    }

}

.hide-titan {
    opacity: 1;
    animation: hide-titan 3s ease-in forwards;
}

.wall {
    float: right;
    margin-top: -25px;
    height: auto;
    width: 55%;
}

.player-container {
    height: 25vh;
    width: 100%;
    overflow: hidden;
}

.player-image-fight {
    width: 40vw;
    height: auto;
}

.selection-container {
    width: 100%;
    height: 70%;
    background: black;
    border-top: 5px solid #91141F;
}

.score-tracker {
    line-height: 1.2em;
    height: 70%;
    width: 100%;
    font-size: 1em;
    text-align: center;
    color: white;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.weapon-select {
    margin-top: 20px;
    width: 100%;
    height: auto;
    font-family: naruto, sans-serif;
    font-size: 1.4em;
    letter-spacing: 2px;
    word-spacing: 8px;
    text-align: center;
    color: #FEFEFE;
}

.weapon-container {
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.selection-box {
    margin: 5px 10px;
    width: 25vw;
    height: 25vw;
    border: 3px solid #351c1c;
    border-radius: 15px;
    overflow: hidden;
}

.selection-highlight {
    border: 6px solid #351c1c;
}

.ind-score-container {
    display: flex;
    width: 100%;
    height: auto;
}

.score-title {
    height: auto;
    width: 100%;
    font-size: 1.2em;
    color: #91141F;
}

.score {
    line-height: normal;
    width: 50%;
    font-size: 0.9em;
    color: #91141F;
}

.score-value {
    font-size: 1.4em;
    color: #91141F;
}

.round-count-container {
    width: 100%;
    height: auto;
    font-size: 0.9em;
    font-family: Volkhov, sans-serif;
    letter-spacing: 1px;
    color: #91141F;
}


.score-message-container {
    margin: 5px 3px;
    width: 100%;
    font-size: 1em;
    text-align: center;
    height: 5vh;
    font-family: Volkhorn, sans-serif;
}
