@font-face {
    font-family: "naruto";
    src: url("../assets/fonts/njnaruto.ttf");
}


@font-face {
    font-family: "attack";
    src: url("../assets/fonts/CloisterBlack.ttf");
}


@media (min-width: 500px) {
    .mobile-character-container {
        /* Only Displays this Div when Screen is SMALLER than 500px wide*/
        visibility: hidden;
    }
}

.mobile-character-container {
    background: #466793;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

h2 {
    font-family: naruto, sans-serif;
    color: #000;
    font-size: 1.7em;
    letter-spacing: 2px;
    word-spacing: 10px;
}


.mobile-character-title {
    width: 100%;
    padding: 10px 0 0 7px;
    /*margin: 0 0 40px 0;*/
    position: fixed;
}

.character-container {
    margin-top: 9vh;
}

.diagonal-box {
    transform: skewY(-11deg);
    height: 25vh;
}

.box-container {
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.box-content {
    height: 100%;
    width: 100%;
    display: flex;
    transform: skewY(11deg);
    justify-content: center;
}

#box-1 {
    background: #59a5ac;
}

#box-2 {
    background: #6e5864;
}

#box-3 {
    background: #42694a;

}

.player-image {
    height: 110%;
    width: auto;
}

.expanded-image {
    height: 35vh;
    transition: height 0.4s ease-in;
}

.expanded-image img {
    margin-right: 20em;
    transition: margin-right 0.4s ease-in;
}


.active-player {
    margin-left: -18em;
    width: 30%;
    height: 5em;
}

h3 {
    font-family: attack, sans-serif;
    font-size: 2em;
}

#armin-info {
    display: none;
}

#mikasa-info {
    display: none;
}

#erin-info {
    display: none;
}








