@import "resets.css";
@import "play-screen.css";

@import url("https://fonts.googleapis.com/css2?family=Volkhov&family=Vollkorn:wght@500&display=swap");

@font-face {
    font-family: "naruto";
    src: url("../assets/fonts/njnaruto.ttf");
}

@font-face {
    font-family: "attack";
    src: url("../assets/fonts/CloisterBlack.ttf");
}

@media (min-width: 500px) {
    .mobile-character-container {
        visibility: hidden;
    }
}

html, body {
    height: 100%;
    overflow: hidden;
}

.intro-splash-mobile {
    height: 100%;
    width: 100%;
    position: fixed;
    background: black;
    font-family: Volkhov, sans-serif;
    color: #FEFEFE;
    z-index: 5;
    text-align: center;
}

.display-none {
    visibility: hidden;
}

h1 {
    font-size: 2em;
    line-height: 22vh;
}

@keyframes fadeTextIn {
    to {
        opacity: 1;
    }
}

.fadeTextIn {
    opacity: 0;
    animation: fadeTextIn 1.2s ease-in forwards;
}

h4 {
    opacity: 0;
    width: 100%;
    line-height: 1.8em;
    font-family: attack, sans-serif;
    font-size: 2em;
    animation: fadeTextIn 3s ease-in forwards;
    animation-delay: 1s;
}

.inspired-text {
    opacity: 0;
    animation: fadeTextIn 1.5s ease-in forwards;
    animation-delay: 1s;
}

.cta-title {
    opacity: 0;
    font-size: 1.8em;
    line-height: 1.7em;
    animation: fadeTextIn 1.5s ease-in forwards;
    animation-delay: 4s;
    color: #91141F;
}

.cta {
    opacity: 0;
    margin-bottom: 10px;
    font-size: 1.4em;
    line-height: 1.7em;
    animation: fadeTextIn 2s ease-in forwards;
    animation-delay: 6s;
}

.cta-body {
    opacity: 0;
    padding: 8px;
    font-size: 1.2em;
    line-height: 1.6em;
    animation: fadeTextIn 2s ease-in forwards;
    animation-delay: 8s;
}


.mobile-character-container {
    background: #466793;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}

h2 {
    font-family: naruto, sans-serif;
    color: #000;
    font-size: 1.7em;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.mobile-character-title {
    width: 100%;
    margin: 15px 0 0 10px;
    position: fixed;
}

.character-container {
    margin-top: 9vh;
    height: inherit;
}

.diagonal-box {
    transform: skewY(-11deg);
    height: 30%;
}

.box-container {
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.box-content {
    height: 100%;
    width: 100%;
    display: flex;
    transform: skewY(11deg);
    justify-content: center;
}

#box-1 {
    background: #59a5ac;
}

#box-2 {
    background: #6e5864;
}

#box-3 {
    background: #42694a;
}

.player-image {
    height: 110%;
    width: auto;
}

.expanded-image {
    height: 35vh;
    transition: height 0.4s ease-in;
}

.expanded-image img {
    margin-right: 24em;
    transition: margin-right 0.4s ease-in;
}


.active-player {
    margin-left: -23em;
    width: 30%;
    height: 5em;
    text-align: center;
}

h3 {
    font-family: attack, sans-serif;
    font-size: 2.3em;
}

#armin-info {
    display: none;
}

#mikasa-info {
    display: none;
}

#erin-info {
    display: none;
}

.fight {
    padding-top: 4px;
    margin: 10px 5px;
    width: 5em;
    height: 1.5em;
    font-family: naruto, sans-serif;
    font-size: 1.5em;
    letter-spacing: 3px;
    background-color: #525151;
    border: 1px solid black;
    border-radius: 5px;
}

.play-screen {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #525151;
}



